<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="{{ url_for('create_top_tracks_playlists') }}" method="get">
        <button type="submit">Create Top Tracks Playlists</button>
    </form>
    <form action="{{ url_for('create_top_artists_playlists') }}" method="get">
        <button type="submit">Create Top Artists Playlists</button>
    </form>

</body> 
</html>
